version: "3.9"
services:
  backend:
    build: ./backend
    ports: ["8001:8000"]
    env_file: .env
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - CORS_ORIGINS=https://client.renoviapro.fr,http://localhost:5173
    volumes: ["./uploads:/app/uploads"]
    depends_on: [mongo]
  mongo:
    image: mongo:7
    ports: ["27019:27017"]
    volumes: [mongo_data:/data/db]
  frontend:
    build: ./frontend
    ports: ["81:80"]
    depends_on: [backend]

volumes:
  mongo_data:
